#the css style part of todolist app
<style>
			header {
				text-align: center;
				font-size: 35px;
				font-family: "Acme", sans-serif;
				background-color: #dae1f1;
				margin-bottom: 10px;
			}
			body,
			html {
				height: 100%;
			}
			body {
				background-image: url("b2.jpeg");
				background-attachment: scroll;

				background-position: right;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.container {
				display: flow-root;
			}
			.container,
			.demo {
				font-size: 20px;
				padding: 30px;
				margin: auto;
				text-align: center;
			}
			#task2 {
				text-decoration: line-through;
			}
			#add:hover {
				cursor: pointer;
			}
			.changetheme {
				font-size: 20px;
			}
			h3 {
				/* font-family: "Dancing Script", cursive; */
				font-family: "Dancing Script", cursive;
				font-size: 25px;
				font-weight: bold;
			}

			ol li {
				cursor: pointer;
				position: relative;
				/* padding: 12px 8px 12px 40px; */
				list-style-type: disc;
				background: rgb(214 241 236);
				font-size: 18px;
				transition: 0.4s;
			}
			li {
				margin: 10px;
				font-family: "Karla", sans-serif;
				box-shadow: 2px 8px 2px 0 rgba(44, 16, 16, 0.2),
					0 6px 10px 0 rgba(42, 36, 48, 0.19);
			}
			.remove {
				position: absolute;
				background: rgb(251, 35, 35);
				right: 0;
				width: 20px;
				font-weight: bolder;
			}
			#delete {
				display: none;
				float: right;
				font-size: 10px;
			}
		</style>
